<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.DailyReport.mapper.InstructorMapper">

    <!-- 講師を全権検索する-->
    <select id="findAllInstructor" resultType="com.example.DailyReport.domain.Instructor">
        select id,name,kana,email,password,affiliation,remarks from instructors;
    </select>

    <!--講師を講師IDで検索する-->
    <select id="findInstructorById" resultType="com.example.DailyReport.domain.Instructor">
        select id,name,kana,email,password,affiliation,remarks from instructors where id=#{instructorId}
    </select>

    <!-- 講師情報をinsertする-->
    <insert id="insertInstructor">
        insert into instructors(name,kana,email,password,affiliation,remarks) values (#{name},#{kana},#{email},#{password},#{affiliation},#{remarks});
    </insert>

    <!--講師情報をuodateする-->
    <update id="updateInstructor">
        update instructors set name=#{name},kana=#{kana}, email=#{email}, affiliation=#{affiliation},remarks=#{remarks} where id=#{id};
    </update>


</mapper>